<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /metas-ja-system/

    # Redirecionar todas as solicitações para o index.php dentro do diretório 'public'
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
</IfModule>
